$mainColor: black;

body {
  margin: 0;
  max-width: 100vw;
  min-width: 20vw;
  max-height: 100vh;
  min-height: 20vh;
  position: relative;
  background-color: rgb(106, 107, 106);;
  color: $mainColor;
  font-size: 16px;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}

.test {
  padding: 5px;
  
}
.leaflet-container {
  width: 80%;
  height: 80vh;
  margin: 50px auto;

}
.margin {
  margin-left: 50px;
}